*,body{
    background-color: black;
   
}
h2{
    color: white;
}
.card{
    background-color: antiquewhite;
    width: 200px;
    height: 100px;
    
}
a,.title{
    background-color: antiquewhite;
    text-decoration: none;

}
input,textarea{
    color: #fff;
}
